<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Vote</title>
</head>
<body>
    <h3>Create new Vote</h3>
    <input id="room-create" type="button" value="Create">

    <script>
        min = 100000000;
        max = 999999999;
        document.querySelector('#room-create').onclick = function(e) {
            roomName = Math.round(Math.random() * (max - min) + min);
            window.location.pathname = '/vote/rooms/' + roomName + '/';
        };
    </script>
</body>
</html>
