<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>HPW - Профиль</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');

    </style>

    <link rel="stylesheet" href="styles/profile.css">
</head>

<body>
    <div class="auth-logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
    <div class="avatar"></div>
    <p class="name">Тут имя</p>
    <div class="form">
        <div class="avatar_number_two"></div>
        <p class="FIO">ФИО</p>
        <h2 class="profile">Профиль</h2>
        <div class="form_in_form">
            <a href="">
                <div class="My_data">
                    <p class="My_data1">Личные данные</p>
                </div>
            </a>
            <a href="">
                <div class="My_election">
                    <p class="My_election1">Мои голосования</p>
                </div>
            </a>
            <a href="">
                <div class="Create_election">
                    <p class="Create_election1">Создать голосование</p>
                </div>
            </a>
            <div class="phone_number">
                <p class="phone_number1">Номер телефона</p>
            </div>
            <div class="e-mail">
                <p class="e-mail1">Почта</p>
            </div>
            <div class="Instagram">
                <p class="Instagram1">Instagram</p>
            </div>
            <div class="Facebook">
                <p class="Facebook1">Facebook</p>
            </div>
            <div class="Country_and_town">
                <p class="Country_and_town1">Город и страна</p>
            </div>
            <div class="Age">
                <p class="Age1">Возраст</p>
            </div>
            <div class="sum_of_create_elections">
                <p class="sum_of_create_elections1">Количество созданных голосований</p>
            </div>
            <div class="sum_of_completed_elections">
                <p class="sum_of_completed_elections1">Количество пройденных голосований</p>
            </div>
        </div>
    </div>

</body>

</html>
