{% load vote_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>HPW - Голосование</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');
    </style>

    <link rel="stylesheet" href="{% static 'css/styles/votings.css'%}">
</head>

<body>
    <div class="first-bg-color"><a href="{% url 'index' %}"><img src="{% static 'images/logo.png'%}" alt=""></a></div>
    <div class="form">
        <p class="form-header"><b>Форма голосования</b></p>
        <form action="#" method="post">
            {% csrf_token %}
            <p class="vote-theme">{{ data.title }}</p>
            <p class="votes_amount-h"><b><i>Количество голосов</i></b></p>
            {% if data.vote_type == 'check-box' %}
                {% for option in data.get_options%}
                    {% with data.get_voters|list_item:forloop.counter as l%}
                        <div class="row">
                            <div class="col-9">
                                <div class="checkbtn">
                                    <input type="checkbox" name="option" value={{ forloop.counter|stringformat:"i" }}/>
                                    <label class="check-but"><i>{{ option }}</i></label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="amount-wrapper">
                                    <span>{{ l|length }}</span>
                                </div>
                            </div>
                        </div>
                        {% if user.is_authenticated %}
                            <div class="submit-wrapper">
                                <div class="submit-button">
                                    <button type="submit" class="submit">Проголосовать</button>
                                </div>
                            </div>
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            {% endif %}
            {% if data.vote_type == 'one-option' %}
                {% for option in data.get_options%}
                    {% with data.get_voters|list_item:forloop.counter as l%}
                        <div class="row">
                            <div class="col-9">
                                <div class="radiobtn">
                                    <input type="radio" name="option" value={{ forloop.counter|stringformat:"i" }}/>
                                    <label class="rad-but"><i>{{ option }} </i></label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="amount-wrapper">
                                    <span>{{ l|length }}</span>
                                </div>
                            </div>
                        </div>
                        {% if user.is_authenticated %}
                            <div class="submit-wrapper">
                                <div class="submit-button">
                                    <button type="submit" class="submit">Проголосовать</button>
                                </div>
                            </div>
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            {% endif %}
        </form>
    </div>

    <form action="{% url 'fav_vote' data.id %}" method="POST">
        {% csrf_token %}
        {% if user.is_authenticated %}
            <button type="submit" name="vote_id" class="btn btn-primary btn-sm" value="{{ data.id }}">Добавить в избранное</button>
        {% else %}
            Вы не вошли на сайт. <a href="{% url 'login' %}">Нажмите здесь, чтобы войти</a>.<br>
            Ещё не зарегистрированы? <a href="{% url 'signup' %}">Создайте новый аккаунт</a>.
        {% endif %}
    </form>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <script>
        setTimeout(function() {
            document.body.classList.add('body_visible');
        }, 200);
    </script>
</body></html>
