<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>Vote</title>
</head>
<body>
<h2>Create new Vote</h2>
<form>
    <h3>Title</h3>
    <label>
        <input name="title" type="text">
    </label>
    <h3>Type</h3>
    <select name="type">
        <option value="one-option">One Option</option>
        <option value="check-box">Checkbox</option>
    </select>

    <h3>Options</h3>
    <label>
        <textarea name="options"></textarea>
    </label>

    <h3>Create</h3>
    <input type="submit" value="Create">
</form>
<h1>{{ test }}</h1>

</body>
</html>
