{% load vote_tags%}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>Vote Room</title>
</head>
<body>
{{ data.title }}<br>
<form method="post">
{% if data.vote_type == 'check-box' %}
    {% for option in data.get_options%}

        {% with data.get_voters|list_item:forloop.counter as l%}

            <input type="checkbox" name="option" value={{ forloop.counter|stringformat:"i" }}> {{ option }} {{ l|length }} {% csrf_token %}<Br>

        {% endwith %}

    {% endfor %}
    <input type="submit" value="Submit">
{% endif %}
</form>
<form method="post">
{% if data.vote_type == 'one-option' %}
    {% for option in data.get_options%}

        {% with data.get_voters|list_item:forloop.counter as l%}

            <input type="radio" name="option" value={{ forloop.counter|stringformat:"i" }}> {{ option }} {{ l|length }} {% csrf_token %} <Br>

        {% endwith %}

    {% endfor %}
    <input type="submit" value="Submit">
{% endif %}
</form>

<br>
<form action="{% url 'fav_vote' data.id %}" method="POST">
    {% csrf_token %}
    <button type="submit" name="vote_id" class="btn btn-primary btn-sm" value="{{ data.id }}">Добавить в избранное</button>
</form>

</body>
</html>
