<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>HPW - Автоизация</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');

    </style>


    <!-- Main CSS-->
    <link rel="stylesheet" href="styles/authorisation.css">
</head>

<body>
    <div class="reg-logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
    <div class="group"></div>
    <div class="example">
        <h2>Войти</h2>
    </div>
    <div class="block">
        <div class="text-input">
            <input type="text" id="input" placeholder="Логин">
        </div>
    </div>
    <div class="block1">
        <div class="text-input1">
            <input type="password" id="input" placeholder="Пароль">
        </div>
        <a href="">
            <p class="forgot_password">Забыли пароль?</p>
        </a>
    </div>
    <a href="">
        <div class="block2">
            <p class="extance">Войти</p>
        </div>
    </a>
</body>

</html>
