body {
    padding: 20px;
    opacity: 0;
    transition: 1.5s opacity ease-in-out;
}

.body_visible {
    opacity: 1;
}

hr {
    margin: 0;
}

.container {
    padding: 0;
    width: 1300px;
    height: 750px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 14px 4px rgba(101, 119, 139, .12);
    box-shadow: 0 2px 14px 4px rgba(101, 119, 139, .12);
}

.header {
    height: 100px;
    width: 100%;
    margin-bottom: 40px;
    margin-left: 40px;
}

.h-logo {
    margin: 0 auto;
    text-align: left;
}

.content {
    padding: 0;
}

.avatar {
    position: relative;
    text-align: center;
    background-color: rgb(220, 225, 230);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-top: 80px;
    padding-left: 0;
    padding-right: 0;
}

.container-nav {
    height: 80px;
    text-align: center;
    padding-top: 40px;
}

.c-nav-wrapper {
    height: 40px;
}

.cnc-1 {
    width: 150px;
}

.cnc-2 {
    width: 180px;
}

.cnc-3 {
    width: 150px;
}

.c-nav-cols {
    margin: 0 auto;
}

.c-nav-cols > a {
    display: inline-block;
    text-decoration: none;
    height: 40px;
}

.c-nav-cols > a[class="active"]:hover {
    color: black;
}

.c-nav-cols > a[class="non-active"]:hover {
    color: rgb(80, 80, 80);
}

.c-nav-cols > a[class="non-active"] {
    position: relative;
}

.c-nav-cols > a[class="non-active"]:active {
    color: rgb(50, 50, 50);
}

.c-nav-cols > a[class="non-active"]:active::before {
    border-bottom-color: rgb(50, 50, 50);
}

.c-nav-cols > a[class="non-active"]::before {
    position: absolute;
    content: '';
    border: 2px solid transparent;
    border-bottom-color: gray;
    width: 50%;
    height: 50%;
    bottom: 0;
    left: 0;
}

.c-nav-cols > a[class="non-active"]:hover::before {
    width: 100%;
    height: 100%;
    transition: 0.25s ease-out;
}

.active {
    color: black;
    border-bottom: 3px solid black;
    transition: .4s ease;
}

.non-active {
    color: gray;
}

.avatar-image {
    border-radius: 30px;
    border: 1px solid #000;
    width: 120px;
    height: 120px;
    margin: 0 auto 20px;
}

.descr-mail {
    color: gray;
    font-size: 12px;
}

.avatar-bottom {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 80px;
}

.a-b-text {
    margin-top: 30px;
}

.a-b-text > a {
    color: gray;
    text-decoration: none;
}

.a-b-text > a:hover {
    color: black;
    transition: .4s ease;
}

.container-data {
    padding: 0 60px;
    height: 590px;
    margin-top: 80px;
}

.c-d-titles,
.con-data-divs {
    text-align: center;
    -webkit-box-shadow: 0 2px 14px 4px rgba(101, 119, 139, .12);
    box-shadow: 0 2px 14px 4px rgba(101, 119, 139, .12);
    height: 50px;
}

.c-d-titles > span,
.con-data-divs > span {
    display: inline-block;
    margin-top: 12px;
}

.c-d-titles > span {
    font-weight: 700;
}

.con-data-divs > span {
    font-style: italic;
}

.con-row {
    margin-bottom: 10px;
}

.check-row {
    margin-bottom: 80px;
}

/* EDIT PROFILE */

.m-center {
    width: 60%;
    margin: 0 auto;
}

.submit-wrapper {
    margin-top: 25px;
}

.submit {
    display: block;
    margin: 0 auto;
    color: white;
    background-color: #0f0f0f;
    border: 2px solid #fff;
    border-radius: 6px;
    min-width: 180px;
    height: 44px;
    box-shadow: 0 2px 14px 4px rgba(101, 119, 139, .12);
    transition: .6s ease;
}

.submit:hover {
    transition: .4s ease;
    background-color: white;
    color: black;
}

.submit:active {
    border: 1px solid #fff;
}

/* Creation */

.form-h3 {
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 50px;
}

input {
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    border: none;
    padding: 5px 0;
    border-bottom: 2px solid #e5e5e5;
    height: 35px;
}

.col {
    position: relative;
}

.check {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: grey;
    overflow: hidden;
    z-index: 1;
    pointer-events: none;
    transition: transform 150ms;
}

input:focus + .check,
input:not(:placeholder-shown) + .check{
    transform: scale(.9) translateY(-25px);
    transition: transform 150ms;
    color: black;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #000;
    transition: .8s ease;
}

label {
    font-weight: 600;
    font-size: 15px;
}

select {
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    border: none;
    padding: 5px 0;
    height: 50px;
    box-shadow: 0 2px 14px 4px rgba(101, 119, 139, .12);
    background-color: #fff;
    margin-top: 10px;
    font-style: oblique;
    padding-left: 15px;
}

select:focus {
    outline: none;
}

textarea {
    margin-top: 20px;
    width: 100%;
    box-shadow: 0 2px 14px 4px rgba(101, 119, 139, .12);
    border: none;
    font-size: 12px;
    font-style: italic;
    height: 120px;
    resize: none;
}

textarea:focus {
    outline: none;
}