<!DOCTYPE html>
<html lang="en">
<head>
 <!-- Required meta tags -->
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <!-- Bootstrap CSS -->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

 <title>HPW - Редактирование профиля</title>

 <style>
 @import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');
 </style>
    
 <link rel="stylesheet" href="editing_of_profile.css">
    
    <script>setTimeout(function(){document.body.classList.add('body_visible');}, 200);</script>
</head>

    <body>
        
            <div class="avatar"></div>
        <p class="name_is_here">Тут имя</p>
    <div class="form">
        <div class="avatar_number_two"></div>
        <p class="FIO">ФИО</p>
        <h2 class="profile_redaction1">Редактирование</h2> <h2 class="profile_redaction2">профиля</h2>
    <div class="form_in_form">
        <a href="norm_profile.html"><div class="back"><p class="back1">Назад</p></div></a>
        </div>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </body>
</html>
