<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>HPW - Главная</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');
    </style>


    <!-- Main CSS-->
    <link rel="stylesheet" href="styles/styles.css">
</head>

<body>
    <div class='container'>
        <div class='header'>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/"><img src="images/logo.png" alt="На главную"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Главная</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Профиль</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Голосования</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="registration.html">Войти</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <p class="header-description">
                <span class="hd-1">Самые</span><br>
                <span class="hd-2">Честные</span><br>
                <span class="hd-3">Голосования!</span>
            </p>
        </div>
        <div class='main'>
            <div class="how-it-works">
                <p>Как работает наша система?</p>
                <div class="hiw-left">
                    <img src="images/speed-icon.png" alt="" class="hiw-icon">
                    <div class="hiw-content">Упрощённое создание голосований</div>
                </div>
                <div class="hiw-center">
                    <img src="images/easy-icon.png" alt="" class="hiw-icon">
                    <div class="hiw-content">Простой для понимания интерфейс</div>
                </div>
                <div class="hiw-right">
                    <img src="images/free-icon.png" alt="" class="hiw-icon">
                    <div class="hiw-content">Для создания опросов платить не нужно!</div>
                </div>
            </div>
            <div class="quotation">
                <div class="quotation-description">
                    <p class="qd-main-1"><b>&quot;Наша задача - ускорить и упростить создание опросов и голосований.<br><br>Этот сервис обладает приятным и понятным интерфейсом, который сможет понять каждый.&quot;</b></p>
                    <div class="qd-main-2"><span>Александр Подгорнов</span><br>Основатель и генеральный директор HPW</div>
                </div>
                <div class="manager-photo"><img src="images/manager.png" alt=""></div>
            </div>
            <div class="regirst-block"></div>
        </div>
    </div>
    <div class='footer'></div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body></html>
