<!DOCTYPE html>
<html lang="en">
<head>
 <!-- Required meta tags -->
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <!-- Bootstrap CSS -->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

 <title>HPW - Профиль</title>

 <style>
 @import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');
 </style>
    
 <link rel="stylesheet" href="norm_profile.css">
</head>
    
    <script>setTimeout(function(){document.body.classList.add('body_visible');}, 200);</script>
    
    <body>
        <div class="avatar"></div>
        <p class="name_is_here">Тут имя</p>
    <div class="form">
        <div class="avatar_number_two"></div>
        <p class="FIO">ФИО</p>
        <h2 class="profile">Профиль</h2>
    <div class="form_in_form">
        <a href="profile.html"><div class="My_data"><p class="My_data1">Личные данные</p></div></a>
        <a href=""><div class="My_election"><p class="My_election1">Мои голосования</p></div></a>
        <a href=""><div class="Create_election"><p class="Create_election1">Создать голосование</p></div></a>
        <div class="login"><p class="login1">Логин</p></div>
        <div class="password"><p class="password1">Пароль</p></div>
        <div class ="name"><p class="name1">Имя</p></div>
        <div class ="surname"><p class="surname1">Фамилия</p></div>
        <div class ="e-mail"><p class="e-mail1">Почта</p></div>
        <div class ="date_of_registration"><p class="date_of_registration1">Дата регистрации</p></div>
        </div> 
        <p class="text_with_link">Вы имеете возможность <a href="">отредактировать ваш профиль</a></p>
        </div>
        
        <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </body>
</html>
