<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>HPW - Регистрация</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');

        body {
            background-image: url(../images/background.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>


    <!-- Main CSS-->
    <link rel="stylesheet" href="styles/styles.css">
</head>

<body>
    <div class="reg-header">
        <div class="reg-logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
        <div class="sign-in">
            <p style="text-align: center; float: left; margin-right: 2%">Уже есть аккаунт?<br><a href="#">Я не помню свой пароль</a></p>
            <a href="#" class="sign-in-button">Войти</a>
        </div>
    </div>
    <div class="reg-container">
        <form action="#" method="post">
            <p style="text-align: center; font-size: 20px; margin-bottom: 30px;">Создать HPW аккаунт</p>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Почта</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Имя</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Введите имя">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Фамилия</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Введите фамилию">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Пароль</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Введите пароль">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Подтвердите пароль</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Введите пароль ещё раз">
            </div>
            <button type="submit" class="btn btn-primary reg-btn">Создать учётную запись</button>
            <p style="text-align: center; color: grey; font-size: 12px;">Создавая учётную запись, вы соглашаетесь с нашими <a href="#" style="text-decoration: none">Условиями</a></p>
        </form>
    </div>
</body></html>