<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>HPW - Регистрация</title>

    <!-- Main CSS-->
    <link rel="stylesheet" href="styles/styles.css">
</head>

<body>
    <div class="container">
        <div class='header'>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/"><img src="images/logo.png" alt="На главную"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html" aria-current="page">Главная</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Профиль</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Голосования</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Авторизация</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="registration.html">Регистрация</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="main">
            <form action="#" class='registration-form' method="post">
                <fieldset>
                    <legend><span class='regform-name'>Регистрация</span></legend>
                    <div class='row'>
                        <div class='col-6'>
                            <label for="login-input" class="form-label p-3">Логин</label>
                            <input type="text" class="form-control" id="login-input" placeholder="Логин">
                        </div>
                        <div class='col-6'>
                            <label for="name-input" class="form-label p-3">Имя</label>
                            <input type="text" class="form-control" id="name-input" placeholder="Имя">
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-6'>
                            <label for="email-input" class="form-label p-3">Почта</label>
                            <input type="email" class="form-control" id="email-input" placeholder="name@example.com">
                        </div>
                        <div class='col-6'>
                            <label for="surname-input" class="form-label p-3">Фамилия</label>
                            <input type="text" class="form-control" id="surname-input" placeholder="Фамилия">
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-6'>
                            <label for="inputPassword" class='form-label p-3'>Пароль</label>
                            <input type="password" class="form-control" id="inputPassword" placeholder='Пароль'>
                        </div>
                        <div class='col-6'>
                            <label for="lastname-input" class="form-label p-3">Отчество</label>
                            <input type="text" class="form-control" id="lastname-input" placeholder="Отчество">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="inputPassword2" class='form-label p-3'>Подтвердите пароль</label>
                            <input type="password" class="form-control" id="inputPassword2" placeholder='Подтвердите пароль'>
                        </div>
                        <div class='col-6'>
                            <label for="lastname-input" class="form-label p-3">Дата рождения</label>
                            <input type="text" class="form-control" id="lastname-input" placeholder="Дата Рождения">
                        </div>
                    </div>
                    <input class="btn btn-primary form-btn-reset" type="reset" value="Сбросить">
                    <input type="submit" value="Зарегистрироваться" class="btn btn-primary form-btn-submit">
                </fieldset>
            </form>
        </div>
        <hr>
        <div class='footer'>
            <p class='footer-company'>
                Компания HPW &copy;&nbsp;2021
            </p>
        </div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body></html>
