html,
body {
    width: 100%;
    background: #fbfcfc;
    padding: 5px;
}

input {
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    border: none;
    padding: 5px 0;
    border-bottom: 2px solid #e5e5e5;
    height: 35px;
}

.col {
    position: relative;
}

.check {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: grey;
    overflow: hidden;
    z-index: 1;
    pointer-events: none;
    transition: transform 150ms;
}

input:focus + .check {
    transform: scale(.9) translateY(-25px);
    transition: transform 150ms;
    color: black;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #000;
    transition: .8s ease;
}

label {
    margin-bottom: 5px;
}

.logo {
    width: 150px;
    margin: 0 auto 40px;
}

.reg-footer,
.auth-footer {
    margin: 10px auto 0;
    max-width: 400px;
    color: #ccc;
}

.auth-footer > span {
    margin-left: -25px;
}

.reg-form {
    max-width: 400px;
    padding: 44px 26px 25px;
    min-height: 550px;
}

.auth-form {
    max-width: 450px;
    padding: 44px 26px 10px;
    min-height: 300px;
}

.reg-form,
.auth-form {
    margin: 20px auto 0;
    border-radius: 7px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 14px 4px rgba(101, 119, 139, .12);
    box-shadow: 0 2px 14px 4px rgba(101, 119, 139, .12);
}

.label {
    text-align: center;
    font-size: 25px;
    margin: 10px 0px 30px;
}

.row {
    padding: 0 20px;
    margin: 30px 0;
}

.submit-wrapper {
    text-align: left;
    padding: 10px;
}

.submit-button {
    padding: 0 20px 20px;
}

.submit {
    color: white;
    background-color: #0f0f0f;
    border: 2px solid #fff;
    border-radius: 6px;
    min-width: 180px;
    height: 44px;
    box-shadow: 0 2px 14px 4px rgba(101, 119, 139, .12);
    transition: .6s ease;
}

.submit:hover {
    transition: .4s ease;
    background-color: white;
    color: black;
}

.submit:active {
    border: 1px solid #fff;
}

.f-l-upper {
    text-transform: capitalize;
}

.l-lower {
    text-transform: lowercase;
}
