html,
body {
    width: 100%;
    background: #fbfcfc;
    padding: 5px;
    padding-top: 80px;
    font-family: 'Roboto', sans-serif !important;
}

.navbar {
    width: 300px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right .8s cubic-bezier(1, 0, 0, 1);
}

.change {
    right: 0;
}

.hamburger-menu {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.line {
    width: 100%;
    height: 3px;
    background-color: black;
    transition: all 0.8s;
}

.change .line-1 {
    background-color: #fff;
    transform: rotateZ(-405deg) translate(-8px, 6px);
}

.change .line-2 {
    background-color: #fff;
    opacity: 0;
}

.change .line-3 {
    background-color: #fff;
    transform: rotateZ(405deg) translate(-8px, -6px);
}

.nav-list {
    text-align: center;
}

.nav-item {
    list-style: none;
    margin: 25px;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;
}

.nav-link:hover {
    color: #fff;
}

.nav-link::before,
.nav-link::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: rgb(230, 230, 230);
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.nav-link::after {
    bottom: 0;
    transform-origin: right;
}

.nav-link::before {
    top: 0;
    transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
    transform: scaleX(1);
}

.logo {
    position: fixed;
    width: 7%;
    left: 20px;
    /* Расстояние от правого края окна браузера */
    top: 2%;
    /* Расстояние сверху */
    padding: 10px;
    /* Поля вокруг текста */
}

input {
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    border: none;
    padding: 5px 0;
    border-bottom: 2px solid #e5e5e5;
    height: 35px;
}

.col {
    position: relative;
}

.check {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: grey;
    overflow: hidden;
    z-index: 1;
    pointer-events: none;
    transition: transform 150ms;
}

input:focus + .check,
input:not(:placeholder-shown) + .check{
    transform: scale(.9) translateY(-25px);
    transition: transform 150ms;
    color: black;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #000;
    transition: .8s ease;
}

label {
    margin-bottom: 5px;
}

.reg-footer,
.auth-footer {
    text-align: center;
    margin: 10px auto 0;
    max-width: 400px;
    color: #ccc;
}

.auth-footer > span {
    margin-left: -25px;
}

.reg-form {
    max-width: 400px;
    padding: 44px 26px 25px;
    min-height: 550px;
}

.auth-form {
    max-width: 450px;
    padding: 44px 26px 10px;
    min-height: 300px;
}

.reg-form,
.auth-form {
    margin: 20px auto 0;
    border-radius: 7px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 14px 4px rgba(101, 119, 139, .12);
    box-shadow: 0 2px 14px 4px rgba(101, 119, 139, .12);
}

.label {
    text-align: center;
    font-size: 25px;
    margin: 10px 0px 30px;
}

.row {
    padding: 0 20px;
    margin: 30px 0;
}

.submit-wrapper {
    text-align: left;
    padding: 10px;
}

.submit-button {
    padding: 0 20px 20px;
}

.submit {
    color: white;
    background-color: #0f0f0f;
    border: 2px solid #fff;
    border-radius: 6px;
    min-width: 180px;
    height: 44px;
    box-shadow: 0 2px 14px 4px rgba(101, 119, 139, .12);
    transition: .6s ease;
}

.submit:hover {
    transition: .4s ease;
    background-color: white;
    color: black;
}

.submit:active {
    border: 1px solid #fff;
}

.submit:focus {
    outline: none;
}

.f-l-upper {
    text-transform: capitalize;
}

.l-lower {
    text-transform: lowercase;
}

.reset-password {
    padding-left: 20px;
}

.center-reset {
    text-align: center;
}
