html,
body {
    height: 100%;
    background-color: #fff;
}

.container {
    margin: 0 auto;
    max-width: 2050px;
    min-width: 900px;
    font-family: 'Crimson Text', serif !important;
    font-size: 25px;
    padding: 0;
}

.header,
.how-it-works,
.quotation,
.registr-block {
    min-height: 900px;
}

.header {
    padding: 50px 100px;
}

.navbar {
    width: 300px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right .8s cubic-bezier(1, 0, 0, 1);
}

.change {
    right: 0;
}

.hamburger-menu {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.line {
    width: 100%;
    height: 3px;
    background-color: black;
    transition: all 0.8s;
}

.change .line-1 {
    background-color: #fff;
    transform: rotateZ(-405deg) translate(-8px, 6px);
}

.change .line-2 {
    background-color: #fff;
    opacity: 0;
}

.change .line-3 {
    background-color: #fff;
    transform: rotateZ(405deg) translate(-8px, -6px);
}

.nav-list {
    text-align: center;
}

.nav-item {
    list-style: none;
    margin: 25px;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;
}

.nav-link::before,
.nav-link::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: rgb(230, 230, 230);
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.nav-link::after {
    bottom: 0;
    transform-origin: right;
}

.nav-link::before {
    top: 0;
    transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
    transform: scaleX(1);
}

.logo {
    position: fixed;
    width: 5%;
    left: 20px;
    /* Расстояние от правого края окна браузера */
    top: 2%;
    /* Расстояние сверху */
    padding: 10px;
    /* Поля вокруг текста */
}

.nav-link:hover {
    color: #fff;
}

.lending {
    width: 50%;
    height: 300px;
}

.lending-description {
    margin-top: 8%;
    width: 30%;
    text-align: center;
    float: right;
}

.p-3 {
    padding: 0.5rem !important;
}

.header-description {
    margin: 200px auto;
    max-width: 1500px;
    min-width: 600px;
    padding-left: 30%;
    padding-right: 30%;
    font-size: 50px;
}

.hd-2 {
    margin-left: 20%;
}

.hd-3 {
    margin-left: 50%;
}

.how-it-works {
    padding: 150px 50px;
    background-color: rgb(220, 225, 230);
}

.how-it-works > p {
    margin: 0 auto 100px;
    max-width: 600px;
    font-size: 40px;
    text-align: center;
}

.hiw-left,
.hiw-center,
.hiw-right {
    margin: 0 auto;
    border-radius: 75px;
    -webkit-box-shadow: 0 2px 14px 4px rgba(101, 119, 139, .12);
    box-shadow: 0 2px 14px 4px rgba(101, 119, 139, .12);
    background-color: #fff;
    max-width: 350px;
    min-width: 350px;
    max-height: 350px;
    min-height: 350px;
    padding-top: 50px;
    text-align: center;
}

.hiw-icon {
    display: inline;
    border-radius: 10px;
    margin-bottom: 60px;
}

.quotation {
    background-color: #fff;
    padding: 60px 20px;
}

.quotation-description {
    color: black;
    width: 550px;
    margin: 0 auto;
    margin-top: 8%;
}

.qd-main-1 {
    border-radius: 40px;
    padding: 20px;
    -webkit-box-shadow: 0 2px 14px 4px rgba(101, 119, 139, .12);
    box-shadow: 0 2px 14px 4px rgba(101, 119, 139, .12);
    text-align: center;
}

.qd-main-2 {
    text-align: center;
    border-radius: 40px;
    padding: 20px;
    -webkit-box-shadow: 0 2px 14px 4px rgba(101, 119, 139, .12);
    box-shadow: 0 2px 14px 4px rgba(101, 119, 139, .12);
    margin-top: 10%;
}

.qd-main-2 > span {
    font-size: 45px;
}

.registr-block {
    text-align: center;
    background-color: rgb(220, 225, 230);
    padding: 250px 50px;
}

.submit-wrapper {
    text-align: center;
    padding: 10px;
}

.submit-button {
    padding: 0 20px 20px;
}

.submit {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #0f0f0f;
    border-radius: 6px;
    min-width: 200px;
    height: 60px;
    box-shadow: 0 2px 14px 4px rgba(101, 119, 139, .12);
    transition: .6s ease;
    padding: 20px;
    padding-top: 15px;
}

.submit:hover {
    transition: .4s ease;
    background-color: white;
    color: black;
}

.submit:active {
    border: 1px solid #fff;
}

.submit:focus {
    outline: none;
}

.registr-block-button {
    text-decoration: none;
    color: white;
    padding: 20px 40px;
    background-color: coral;
    border-radius: 10px;
    transition: .3s ease;
}

.registr-block-button:hover {
    transition: .8s ease;
    color: ghostwhite;
    background-color: orangered;
}

.registr-block-button:active {
    color: ghostwhite;
    background-color: red;
}

.reg-b-sign-in {
    color: black;
    transition: .5s ease;
}

.reg-b-sign-in:hover {
    transition: .5s ease;
    color: midnightblue
}

.clr {
    height: 200px;
}

.footer {
    background-color: #fff;
}

.footer {
    max-width: 2050px;
    min-width: 900px;
    margin: 0 auto;
}

.footer-top {
    margin: -200px auto 0;
    height: 400px;
    max-width: 1750px;
    min-width: 900px;
    padding: 0px 100px;
}

.footer-top > div > ul {
    margin-top: 20px;
    list-style-type: circle;
    padding-left: 0;
}

.footer-top > div > ul > li > a {
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.footer-top > div > ul > li > a:hover {
    color: gray;
}

.infooter-image,
.links,
.our-family,
.contacts {
    float: left;
}

.links,
.our-family,
.contacts {
    margin-top: 80px;
    font-size: 30px;
    color: black;
    height: 300px;
    margin-left: 8%;
}

.footer-bottom {
    color: black;
    padding: 25px 20px;
    margin: 0 auto;
    height: 100px;
    width: 1750px;
}

.copyright {
    float: right;
}
