.cont {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.logo {
    margin-left: 75px;
    margin-bottom: 20px;
    margin-top: 50px;
}

body {
    display: flex;
    justify-content: center;
}
