html {
    width: 100%;
    background: #fbfcfc;
    padding: 5px;
}

body {
    width: 100%;
    background: #fbfcfc;
    padding: 5px;
    font-family: 'Roboto', sans-serif !important;
}

.navbar {
    position: relative;
    z-index: 2;
    width: 300px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right .8s cubic-bezier(1, 0, 0, 1);
}

.change {
    right: 0;
}

.hamburger-menu {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.line {
    width: 100%;
    height: 3px;
    background-color: black;
    transition: all 0.8s;
}

.change .line-1 {
    background-color: #fff;
    transform: rotateZ(-405deg) translate(-8px, 6px);
}

.change .line-2 {
    background-color: #fff;
    opacity: 0;
}

.change .line-3 {
    background-color: #fff;
    transform: rotateZ(405deg) translate(-8px, -6px);
}

.nav-list {
    text-align: center;
}

.nav-item {
    list-style: none;
    margin: 25px;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;
}

.nav-link:hover {
    color: #fff;
}

.nav-link::before,
.nav-link::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: rgb(230, 230, 230);
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.nav-link::after {
    bottom: 0;
    transform-origin: right;
}

.nav-link::before {
    top: 0;
    transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
    transform: scaleX(1);
}

.logo {
    position: fixed;
    width: 7%;
    z-index: 2;
    left: 20px;
    /* Расстояние от правого края окна браузера */
    top: 2%;
    /* Расстояние сверху */
    padding: 10px;
    /* Поля вокруг текста */
}

.first-bg-color {
    position: absolute;
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    background-color: rgb(220, 225, 230);
    text-align: center;
    padding-top: 35px;
}

.form {
    position: relative;
    width: 500px;
    min-height: 450px;
    margin: 200px auto;
    background: #fff;
    box-shadow: 0 2px 14px 4px rgba(101, 119, 139, .12);
    border-radius: 20px;
    border-top: 10px;
    border-top-style: outset;
    z-index: 2;
}

.form-header {
    padding-top: 30px;
    text-align: center;
    font-style: oblique;
    font-size: 26px;
}

.vote-theme {
    padding-top: 10px;
    margin-bottom: 70px;
    text-align: center;
    font-style: italic;
    font-size: 18px;
}

.submit-wrapper {
    text-align: left;
    padding: 10px;
    margin-top: 40px;
}

.submit-button {
    padding: 0 20px 20px;
    text-align: center;
}

.submit {
    padding-top: 2px;
    color: white;
    background-color: #0f0f0f;
    border: 2px solid #fff;
    border-radius: 6px;
    min-width: 180px;
    height: 44px;
    box-shadow: 0 2px 14px 4px rgba(101, 119, 139, .12);
    transition: .6s ease;
}

.submit:hover {
    transition: .4s ease;
    background-color: white;
    color: black;
}

.submit:active {
    border: 1px solid #fff;
}

.submit:focus {
    outline: none;
}

.radiobtn,
.checkbtn {
    transition: .4s ease;
    position: relative;
    display: block;
}

.radiobtn > label,
.checkbtn > label {
    display: block;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0 2px 14px 4px rgba(101, 119, 139, .12);
    margin-bottom: 10px;
    text-align: center;
}

.radiobtn:hover,
.checkbtn:hover {
    transform: scale(1.05);
    transition: .4s ease;
}

.radiobtn > input[type="radio"],
.checkbtn > input[type="checkbox"] {
    z-index: 2;
    position: absolute;
    width: 335px;
    height: 100%;
    margin-left: 30px;
    margin-right: 30px;
    appearance: none;
    cursor: pointer;
}

.radiobtn > input[type="radio"]:focus,
.checkbtn > input[type="checkbox"]:focus {
    outline: none;
}

.rad-but::after,
.rad-but::before {
    content: "";
    position: absolute;
    left: 45px;
    top: 12px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: black;
    cursor: pointer;
}

.check-but::after,
.check-but::before {
    content: "";
    position: absolute;
    left: 45px;
    top: 12px;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background: black;
    cursor: pointer;
}

.rad-but::before,
.check-but::before {
    background: transparent;
    transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s,
        0.3s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
    background: url(../../images/radio-button.png);
    z-index: 2;
    overflow: hidden;
    background-size: 13px;
    background-position: center;
    width: 0;
    height: 0;
}

.radiobtn > input[type="radio"]:checked + label::before,
.checkbtn > input[type="checkbox"]:checked + label::before {
    width: 20px;
    height: 20px;
}

.votes_amount-h {
    text-align: right;
    padding-right: 30px;
    margin-top: -30px;
    font-size: 9px;
}

.col-9,
.col-3 {
    padding: 0;
}

.col-3 {
    padding-right: 30px;
}

.amount-wrapper {
    text-align: center;
    width: 100%;
    box-shadow: 0 2px 14px 4px rgba(101, 119, 139, .12);
    height: 44px;
    border-radius: 5px;
    padding-top: 10px;
    font-style: oblique;
    font-size: 15px;
    margin-bottom: 10px;
}

#button {
    display: inline-block;
    width: 40px;
    height: 32px;
    padding-left: 10px;
    position: relative;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1;}
}

#button:hover > #tooltip[data-show] {
    display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

#tooltip {
    background: #333;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 4px;
    display: none;
}

#tooltip[data-show] {
    width: 160px;
    inset: 0px auto auto 0px;
    transform: translate(60px, 2px) !important;
}

#arrow,
#arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    z-index: -1;
}

#arrow::before {
    content: '';
    transform: rotate(45deg);
    background: #333;
}

#tooltip[data-popper-placement='bottom'] > #arrow {
    position: absolute;
    left: 0px;
    transform: translate(-8px, -14px) !important;
}
