html {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.group {
    position: absolute;
    width: 388px;
    height: 366px;
    left: 777px;
    top: 255px;
    margin-left: 22px;
    margin-top: 60px;
    background-color: rgba(196, 196, 196, 0.46);
    border: 2px solid black;
    border-radius: 20px;
}

.text {
    position: absolute;
    width: 183.76px;
    height: 50.07px;
    left: 960px;
    top: 7px;

    font-family: 'Crimson Text', serif !important;
    font-weight: 400px;
    font-size: 15px;
    line-height: 20px;

    display: flex;
    align-items: center;

    color: #000000;
}

.example {
    position: absolute;
    width: 233px;
    height: 75px;
    left: 808px;
    top: 288px;

    margin-left: 130px;
    margin-top: 60px;
    font-family: 'Crimson Text', serif !important;
    font-weight: 400px;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.07em;

    color: #000000;
}

.mail {
    position: absolute;
    height: 24px;
    left: 17px;
    right: 17px;
    top: 104px;

    font-family: 'Crimson Text', serif !important;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #93969B;
    padding-top: 10px;
}

.block {
    position: absolute;
    width: 240px;
    height: 40px;
    left: 807px;
    bottom: 672px;
    top: 430px;
}

.text-input {
    position: relative;
    margin-top: 10px;
}

input[type="text"] {
    display: inline-block;
    width: 370px;
    height: 40px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 10px 10px 10px 100px;
    transition: all 0.1s ease-out;
}

input[type="text"] {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    color: black;
    border-radius: 3px 0 0 3px;
    padding: 0 10px;
}

input[type="text"]:focus {
    border-radius: 3px;
    transition: all 0.1s ease-out;
}

input[type="text"]:focus {
    padding: 10px;
    transition: all 0.3s ease-out;
    transition-delay: 0.2s;
}

.block1 {
    position: absolute;
    width: 240px;
    height: 40px;
    left: 807px;
    bottom: 672px;
    top: 500px;
}

.password {
    position: absolute;
    height: 20px;
    left: 16px;
    right: 16px;
    top: calc(50% - 20px/2);

    font-family: 'Crimson Text', serif !important;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #919399;
}

.text-input1 {
    position: relative;
}

input[type="password"] {
    display: inline-block;
    width: 370px;
    height: 40px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 10px 10px 10px 100px;
    transition: all 0.1s ease-out;
}

input[type="password"] {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    color: black;
    border-radius: 3px 0 0 3px;
    padding: 0 10px;
}

input[type="password"]:focus {
    border-radius: 3px;
    transition: all 0.1s ease-out;
}

input[type="password"]:focus {
    padding: 10px;
    transition: all 0.3s ease-out;
    transition-delay: 0.2s;
}

.forgot_password {
    position: absolute;

    margin-top: 50px;
    position: absolute;

    font-family: 'Crimson Text', serif !important;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    transition: 1.3s;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;

    color: black;
}

.forgot_password:hover {
    transition: 1.3s;
    border-radius: 15px;
    padding: 10px;
    background: dodgerblue;
}

.extance {
    width: 42px;
    height: 20px;
    left: 937px;
    top: 566px;

    padding-top: 13px;
    margin-left: 160px;
    color: black;
    font-family: 'Crimson Text', serif !important;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    transition: 1.3s;
}

.extance:hover {
    transition: 1.3s;
}

.block2 {
    position: absolute;
    margin-top: 40px;
    margin-left: 30px;
    width: 370px;
    height: 42px;
    left: 777px;
    top: 555px;
    border: 1px solid black;

    border-radius: 5px;
    transition: 1.3s;
}

.block2:hover {
    transition: 1.3s;
    background: dodgerblue;
    border-radius: 5px;
}

.reg-logo {
    position: absolute;
    width: 200px;
    margin-left: 925px;
    margin-top: 70px;
}
