html,
body {
    height: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1750px;
    min-width: 900px;
    font-family: 'Crimson Text', serif !important;
    font-size: 25px;
    padding: 0;
}

.header,
.how-it-works,
.quotation,
.registr-block {
    min-height: 900px;
}

.header {
    background-color: #8E8E8E;
    padding: 50px 100px;

    /*
    background-image: url(../images/light_theme.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
*/
}

.me-auto {
    margin-right: 0px !important;
}

.navbar-nav {
    margin-left: auto;
}

.lending {
    width: 50%;
    height: 300px;
}

.lending-description {
    margin-top: 8%;
    width: 30%;
    text-align: center;
    float: right;
}

.p-3 {
    padding: 0.5rem !important;
}

.header-description {
    margin: 150px auto;
    max-width: 1500px;
    min-width: 600px;
    padding-left: 30%;
    padding-right: 30%;
    font-size: 50px;
}

.hd-2 {
    margin-left: 20%;
}

.hd-3 {
    margin-left: 50%;
}

.how-it-works {
    padding: 150px 50px;
    background-color: ghostwhite;
}

.how-it-works > p {
    margin: 0 auto 100px;
    max-width: 600px;
    font-size: 50px;
}

.hiw-left,
.hiw-center,
.hiw-right {
    max-width: 350px;
    min-width: 350px;
    max-height: 350px;
    min-height: 350px;
    margin-right: 10%;
    float: left;
    background-color: floralwhite;
    padding-top: 50px;
    text-align: center;
}

.hiw-left {
    margin-left: 6%;
}

.hiw-right {
    margin-right: 0;
}

.hiw-icon {
    display: inline;
    border-radius: 10px;
    margin-bottom: 60px;
}

.quotation {
    background-color: black;
    padding: 60px 20px;
}

.quotation-description {
    color: white;
    float: left;
    width: 500px;
    margin-left: 5%;
    margin-top: 15%;
}

.manager-photo {
    float: right;
    margin-right: 100px;
}

.manager-photo > img {
    border-radius: 100px;
}

.qd-main-2 {
    margin-top: 20%;
}

.qd-main-2 > span {
    font-size: 45px;
}

.registr-block {
    background-color: whitesmoke;
}

.clr {
    height: 200px;
}

.footer {
    margin: -200px auto 0;
    height: 800px;
    max-width: 1750px;
    min-width: 900px;
    background-color: #211A1A;
    padding: 200px 100px;
}

.footer > div > ul {
    margin-top: 20px;
    list-style-type: circle;
    padding-left: 0;
}

.footer > div > ul > li > a {
    font-size: 25px;
    text-decoration: none;
    color: snow;
}

.footer > div > ul > li > a:hover {
    color: antiquewhite;
}

.infooter-image,
.links,
.our-family,
.contacts {
    float: left;
}

.links,
.our-family,
.contacts {
    margin-top: 20px;
    font-size: 30px;
    color: white;
    height: 400px;
    margin-left: 8%;
}

.footer-bottom {
    color: white;
    padding: 25px 20px;
    margin: 0 auto;
    height: 100px;
    width: 1750px;
    background-color: #000;
}
