.container {
    width: 100%;
    font-family: 'Crimson Text', serif!important;
    font-size: 25px;
}

.header {
    height: 1037px;
    background-image: url(../images/light_theme.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
}

.main {
    height: 2000px;
    margin-bottom: 40px;
}

.me-auto {
     margin-right: 0px!important; 
}

.navbar-nav {
    margin-left: auto;
}

.lending {
    width: 50%;
    height: 300px;
}

.lending-description {
    margin-top: 8%;
    width: 30%;
    text-align: center;
    float: right;
}

.footer {
    height: 200px;
    background-image: url(../images/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px 10px;
}

.footer-company {
    display: inline-block;
    float: right;
    margin-top: 150px;
}

.contacts {
    height: 250px;
    padding: 20px;
}

.cont-block {
    width: 10%;
    height: 140px;
    float: left;
    border: 1px solid #000;
    border-radius: 100px;
    margin-right: 10px;
    text-align: center;
    padding-top: 20px;
}

.cont-block:hover {
    border: 3px solid #000;
    border-radius: 100px;
}

.cont-block:active {
    border: 3px solid #ccc;
    border-radius: 100px;
}

.contacts-description {
    text-align: right;
    padding-right: 20%;
    margin-top: 40px;
    font-size: 2em;
}

.registration-form>fieldset {
    padding: 20px 30px;
    outline: 1px solid #000;
}

.registration-form>fieldset>legend {
    text-align: center;
    margin-bottom: 30px;
}

.regform-name {
    display: inline-block;
    width: 200px;
    border: 1px solid #000;
    border-radius: 10px;
}

.registration-form {
    width: 800px;
    height: 500px;
    margin: auto;
}

.p-3 {
    padding: 0.5rem!important;
}

.form-btn-reset,
.form-btn-submit {
    margin-top: 30px;
}

.form-btn-reset {
    float: left;
}

.form-btn-submit {
    float: right;
}