{% extends 'base/base.html' %}

{% block content %}
    <h1 class="mt-4">Авторизация</h1>
    <hr>

    <div class="row">
        <div class="col-4 offset-4">
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                {% for item in form %}
                    <label>{{ item.label }}:</label><br>
                    {{ item }}
                    <br>
                {% endfor %}
                <button type="submit" class="btn btn-primary float-right btn-block">Войти</button>
            </form>
        </div>
    </div>

{% endblock %}

