{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>HPW - Авторизация</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <!-- Main CSS-->
    <link rel="stylesheet" href="{% static 'css/styles/auth-reg.css' %}">
</head>

<body>
<a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" class="logo"/></a>
    <div class='header'>
        <nav class="navbar">
            <div class="hamburger-menu">
                <div class="line line-1"></div>
                <div class="line line-2"></div>
                <div class="line line-3"></div>
            </div>
            <ul class="nav-list">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link">Выйти</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'profile' %}" class="nav-link">Профиль пользователя</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'edit_profile' %}" class="nav-link">Редактировать профиль</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'all_votes' %}" class="nav-link">Голосования</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link">Войти</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'signup' %}" class="nav-link">Зарегистрироваться</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
<div class="auth-form">
    <div class="label">Добро пожаловать!</div>
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                {{ form.username|append_attr:'placeholder: ' }}
                <div class="check">Логин</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form.password|append_attr:'placeholder: ' }}
                <div class="check">Пароль</div>
            </div>
        </div>
        {% for error in form.non_field_errors %}
            <div class="row">
                <div class="col" style="text-align: center; font-style: italic;">
                    {{ error }}
                </div>
            </div>
        {% endfor %}
        <div class="submit-wrapper">
            <div class="submit-button">
                <button type="submit" class="submit">Войти</button>
                <span class="reset-password"><a href="{% url 'reset_password' %}">Забыли пароль?</a></span>
            </div>
        </div>
    </form>
</div>
<div class="auth-footer">
    <span>Вы здесь впервые? <a href="{% url 'signup' %}">Зарегистрироваться</a></span>
</div>
<script src="{% static 'js/script.js' %}"></script>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

{#TODO нет ошибок при вводе неверного пароля #}
</body>
</html>
