{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>HPW - Автоизация</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');

    </style>


    <!-- Main CSS-->
    <!-- <link rel="styleshefet" href="{% static 'css/styles/authorisation.css' %}"> -->
    2<link rel="stylesheet" href="{% static 'css/styles/temp.css' %}">
</head>

<body>
    <div class="cont">
        <div class="logo"><a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt=""></a></div>
        <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                {% for item in form %}
                    <label>{{ item.label }}:</label><br>
                    {{ item }}
                    <br><br>
                {% endfor %}
                <button type="submit" class="btn btn-primary float-right btn-block">Войти</button>
            </form>
    </div>
{#TODO нет ошибок при вводе неверного пароля #}
</body>

</html>

