{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>HPW - Профиль</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');

    </style>

    <link rel="stylesheet" href="{% static 'css/styles/profile.css' %}">
</head>

<body>
    <div class="auth-logo"><a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt=""></a></div>
    <div class="avatar"></div>
    <div class="form">
        <form action="{% url 'profile' %}" method="POST">
            {% csrf_token %}
            <img src="{% if user.avatar %}{{ user.avatar.url }}{% else %}{% static 'images/avatar_default.jpg' %}{% endif %}" alt="Аватар" width="150" height="150">
            <p>Имя пользователя: {{ user }}</p>
            <p>Имя: {{ user.first_name }}</p>
            <p>Фамилия: {{ user.last_name }}</p>
            <p>Почта: {{ user.email }}</p>
            <p>Дата регистрации: {{ user.date_joined }}</p>
            <p>Вы можете <a href="{% url 'edit_profile' %}">отредактировать свой профиль</a>.</p>
        </form>

        {% if form.non_field_errors %}
            {{ form.non_field_errors }}
        {% endif %}
    </div>

</body>

</html>
