{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">


    <title>HPW - Регистрация</title>
    <!-- Main CSS-->
    <link rel="stylesheet" href="{% static 'css/styles/auth-reg.css' %}">
</head>

<body>
<a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" class="logo"/></a>
    <div class='header'>
        <nav class="navbar">
            <div class="hamburger-menu">
                <div class="line line-1"></div>
                <div class="line line-2"></div>
                <div class="line line-3"></div>
            </div>
            <ul class="nav-list">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link">Выйти</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'profile' %}" class="nav-link">Профиль пользователя</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'edit_profile' %}" class="nav-link">Редактировать профиль</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'all_votes' %}" class="nav-link">Голосования</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link">Войти</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'signup' %}" class="nav-link">Зарегистрироваться</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'all_votes' %}" class="nav-link">Голосования</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
<div class="reg-form">
    <div class="label">Регистрация</div>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                {{ form.username|append_attr:'placeholder: ' }}
                <div class="check">Логин</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form.email|append_attr:'placeholder: ' }}
                <div class="check">Почта</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form.first_name|append_attr:'placeholder: ' }}
                <div class="check">Имя</div>
            </div>
            <div class="col">
                {{ form.last_name|append_attr:'placeholder: ' }}
                <div class="check">Фамилия</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form.password1|append_attr:'placeholder: ' }}
                <div class="check">Пароль</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form.password2|append_attr:'placeholder: ' }}
                <div class="check">Подтверждение пароля</div>
            </div>
        </div>
        <div class="submit-wrapper">
            <div class="submit-button">
                <button type="submit" class="submit">Создать аккаунт!</button>
            </div>
        </div>
        {% for field in form %}
            {% for error in field.errors %}
                <p style="text-align: center; font-style: italic; color: rgb(130, 0 ,0); margin: 0 0 10px;">{{ error }}</p>
            {% endfor %}
        {% endfor %}
    </form>
</div>
<div class="reg-footer">
    <span>Уже есть аккаунт? <a href="{% url 'login' %}">Войдите</a></span>
</div>
    <script src="{% static 'js/script.js' %}"></script>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>
