<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HPW - Жалоба</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    {% if request.user.is_authenticated %}
        {% if has_data %}
            <h2>Состояние жалобы</h2>
            <p>Ваша жалоба была успешно отправлена</p>
            <p>Содержание: "{{ complaint_text }}"</p>
        {% else %}
            <h1> Написать жалобу </h1>

            <form action="{% url 'complaints' %}" method="POST">
                {% csrf_token %}
                <p> Комментарий: {{ form.text }}</p>
                <input type="submit" value="Отправить">
            </form>
        {% endif %}

    {% else %}
        <p>Вы должны быть зарегистрированы, чтобы оставить жалобу</p>
    {% endif %}
</body>
</html>
