{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="{% static 'css/styles/favorites.css' %}">
</head>
<body>
    <div class="fav_container">
        {% for item in all%}
        <div class="fav_block">
                <a class="fav_link" href="http://127.0.0.1:8000/vote/rooms/{{ item }}"> {{ item.title }}</a>
                <p>{{ item.date }}</p>
                <form action="{% url 'fav_vote_remove' item %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" name="vote_id" class="btn btn-primary btn-sm" value="{{ item }}">delete</button>
                </form>
        </div>
        {% endfor %}
    </div>
</body>
</html>
