html{
  background-image: url(unknown.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.form{
position: absolute;
width: 1301px;
height: 737px;
left: 309px;
top: 196px;

border: 2px solid black;
background: rgba(196, 196, 196, 0.46);
border-radius: 20px;
}

.form_in_form{
position: absolute;
width: 859px;
height: 517px;
left: 72px;
top: 155px;

border-radius: 20px;
background: rgba(255, 255, 255, 0.37);
}

.profile{
position: absolute;
width: 150px;
height: 41px;
left: 576px;
top: 49px;

font-family: 'Crimson Text', serif !important;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 41px;
/* identical to box height */


color: #000000;
}

.name{
position: absolute;
width: 41px;
height: 23px;
left: 1700px;
top: 70px;

font-family: 'Crimson Text', serif !important;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #000000;
}

.avatar{
position: absolute;
width: 100px;
height: 100px;
left: 1774px;
top: 31px;

background: rgba(196, 196, 196, 0.46);
border-radius: 100%;
}

.avatar_number_two{
position: absolute;
width: 100px;
height: 100px;
left: 1082px;
top: 155px;

background: #F5DADA;
border-radius: 20px;
}

.FIO{
position: absolute;
width: 44px;
height: 23px;
left: 1110px;
top: 271px;

font-family: 'Crimson Text', serif !important;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #000000;
}

.My_data{
position: absolute;
width: 207px;
height: 58px;
left: 31px;
top: 28px;

transition: 1s;
background: rgba(196, 196, 196, 0.46);
border-radius: 15px;
}

.My_data:hover{
background: dodgerblue;
transition: 1s;
}

.My_data1{
position: absolute;
width: 152px;
height: 23px;
left: 28px;
top: 18px;

font-family: 'Crimson Text', serif !important;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #000000;
}

.My_election{
position: absolute;
width: 207px;
height: 58px;
left: 326px;
top: 28px;

transition: 1s;
background: rgba(196, 196, 196, 0.46);
border-radius: 15px;
}

.My_election:hover{
background: dodgerblue;
transition: 1s;
}

.My_election1{
position: absolute;
width: 152px;
height: 23px;
left: 28px;
top: 18px;

font-family: 'Crimson Text', serif !important;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #000000;
}

.Create_election{
position: absolute;
width: 207px;
height: 58px;
left: 621px;
top: 28px;

transition: 1s;
background: rgba(196, 196, 196, 0.46);
border-radius: 15px;
}

.Create_election:hover{
background: dodgerblue;
transition: 1s;
}

.Create_election1{
position: absolute;
width: 204px;
height: 23px;
left: 4px;
top: 18px;

font-family: 'Crimson Text', serif !important;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #000000;
}

.phone_number{
position: absolute;
width: 322px;
height: 44px;
left: 59px;
top: 187px;

background: rgba(196, 196, 196, 0.46);
border-radius: 15px;
}

.phone_number1{
position: absolute;
width: 307px;
height: 13px;
left: 20px;
top: 16px;

font-family: 'Crimson Text', serif !important;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;

color: #000000;
}

.e-mail{
position: absolute;
width: 322px;
height: 44px;
left: 460px;
top: 187px;

background: rgba(196, 196, 196, 0.46);
border-radius: 15px;
}

.e-mail1{
position: absolute;
width: 307px;
height: 13px;
left: 20px;
top: 16px;
    
font-family: 'Crimson Text', serif !important;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
    
color: #000000;
}

.Instagram{
position: absolute;
width: 322px;
height: 44px;
left: 59px;
top: 273px;

background: rgba(196, 196, 196, 0.46);
border-radius: 15px;
}

.Instagram1{
position: absolute;
width: 307px;
height: 13px;
left: 20px;
top: 16px;

font-family: 'Crimson Text', serif !important;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;

color: #000000;
}

.Facebook{
position: absolute;
width: 322px;
height: 44px;
left: 460px;
top: 273px;

background: rgba(196, 196, 196, 0.46);
border-radius: 15px;
}

.Facebook1{
position: absolute;
width: 307px;
height: 13px;
left: 20px;
top: 16px;
    
font-family: 'Crimson Text', serif !important;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
    
color: #000000;
}

.Country_and_town{
position: absolute;
width: 322px;
height: 44px;
left: 59px;
top: 359px;

background: rgba(196, 196, 196, 0.46);
border-radius: 15px;
}

.Country_and_town1{
position: absolute;
width: 307px;
height: 13px;
left: 20px;
top: 16px;

font-family: 'Crimson Text', serif !important;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;

color: #000000;
}

.Age{
position: absolute;
width: 322px;
height: 44px;
left: 460px;
top: 359px;

background: rgba(196, 196, 196, 0.46);
border-radius: 15px;
}

.Age1{
position: absolute;
width: 307px;
height: 13px;
left: 20px;
top: 16px;
    
font-family: 'Crimson Text', serif !important;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
    
color: #000000;
}

.sum_of_create_elections{
position: absolute;
width: 322px;
height: 44px;
left: 59px;
top: 435px;

background: rgba(196, 196, 196, 0.46);
border-radius: 15px;
}

.sum_of_create_elections1{
position: absolute;
width: 307px;
height: 13px;
left: 20px;
top: 16px;

font-family: 'Crimson Text', serif !important;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;

color: #000000;
}

.sum_of_completed_elections{
position: absolute;
width: 322px;
height: 44px;
left: 460px;
top: 435px;

background: rgba(196, 196, 196, 0.46);
border-radius: 15px;
}

.sum_of_completed_elections1{
position: absolute;
width: 307px;
height: 13px;
left: 20px;
top: 16px;
    
font-family: 'Crimson Text', serif !important;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
    
color: #000000;
}